body{
    height: 80%;
    width: 40%;
    margin: auto;
    background-color: grey;
}

.mainFrame{
    border: 5px solid rgb(18, 82, 243);
    border-radius: 4%;
    margin:5%, 10%,10%,2%;
    margin-top:20%;
    height: 240px;
    display: flex;
    flex-direction:column;
    width:900px;
    color: rgb(202, 12, 164);
    font-size: 25px;
    background-color: white;
}

.screen{
    /* border: 2px solid gray; */
    text-align: center;
    padding: 50px;
}

.buttons{
    /* border: solid 3px blue; */
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:3%,2%,3%,2%;
}

.leftButtons, .withdrawal, .deposit, .reset{
    cursor: pointer;
    border: 3px solid black;
    background-color: lightblue;
    border-radius: 15%;
    display: flex;
    flex-direction:column;
    width:50%;
    height: 80%;
    padding:5px; 
    margin: auto;
    color: brown;
    font-size: 20px;
    text-align: center;
    box-shadow: inset 10px,5px,10px,5px black; 
}

.rightButtons, .balance,.fastCash, .transfer{
    cursor: pointer;
    border: 3px solid black;
    background-color: lightblue;
    border-radius: 15%;
    display: flex;
    flex-direction:column;
    width:50%;
    height: 80%;
    padding:5px; 
    margin: auto;
    color: brown;
    font-size: 20px;
    text-align: center;
    box-shadow: inset 10px,5px,10px,5px black; 
}


.KeyPadFrame{
    border: solid 10px red;
    width:50px;
    height: 100%;
}

.row1, .btn1, .btn2, .btn3, .btn4, .cancel{
    border: solid 5px black;
    /* width: 60%;
    height: 40%; */
}

.btn1, .btn2, .btn3, .btn4, .cancel{
    cursor: pointer;
    border: solid 5px black;
    width: 22%;
    height: 40%;
   text-align: center;
   margin-right: 2.3%;
   font-size: 15px;
}

.row2{
    border: solid 3px black;
    margin: auto;
}
.row3{
    border: solid 3px black;
}

.row4{
    border: solid 3px black;
}




   
