body{
    height: 80%;
    width: 40%;
    margin: auto;
    background-color: grey;
}

.mainFrame{
    border: 5px solid rgb(18, 82, 243);
    border-radius: 4%;
    margin:5%, 10%,10%,2%;
    margin-top:20%;
    height: 240px;
    display: flex;
    flex-direction:column;
    width:900px;
    color: rgb(202, 12, 164);
    font-size: 25px;
    background-color: white;
    box-shadow: inset 5px,0px,5px,0px black;
 
}

.screen{
    /* border: 2px solid gray; */
    text-align: center;
    padding: 50px;
}

.buttons{
    /* border: solid 3px blue; */
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:3%,2%,3%,2%;
}

.leftButtons, .withdrawal, .deposit, .reset{
    cursor: pointer;
    border: 3px solid black;
    background-color: lightblue;
    border-radius: 15%;
    display: flex;
    flex-direction:column;
    width:50%;
    height: 80%;
    padding:5px; 
    margin: auto;
    color: brown;
    font-size: 20px;
    text-align: center;
    box-shadow: inset 10px,5px,10px,5px black; 
}

.rightButtons, .balance,.fastCash, .transfer{
    cursor: pointer;
    border: 3px solid black;
    background-color: lightblue;
    border-radius: 15%;
    display: flex;
    flex-direction:column;
    width:50%;
    height: 80%;
    padding:5px; 
    margin: auto;
    color: brown;
    font-size: 20px;
    box-shadow: inset 10px,5px,10px,5px black; 
}
/* .KeyPadFrame{
    border: solid 10px red;
    background-color: black;
    width:50px;
    height: 100%;
} */

.row1{
    border: solid 5px black;
    background-color: black;
}

.btn1, .btn2, .btn3,.cancel,.btn4, .btn5, .btn6,.clear,.btn7,.btn8, .btn9, .help, .minusbtn,.btn0, .plusbtn, .enter{
    cursor: pointer;
    border: solid 4px blue;
    border-radius: 35%;
    width: 22%;
    height: 40%;
    margin-right: 2.44%;
    font-size: 20px;
    box-shadow: inset 10px,5px,10px,5px black; 
}

.row2{
    border: solid 5px black;
    background-color: black;
}

.row3{
    border: solid 5px black;
    background-color: black;
}

.row4{
    border: solid 5px black;
    background-color: black;
}




   
